<table style="margin: 0 auto;">
		<caption id="h1">Los Juegos en Oferta de este año</caption>
		<tr>
			<th scope="row">Tipos</th>
			<th>Accion</th>
			<th>Shother</th>
			<th>Mundo_Abierto</th>
			</tr>
		<tr>
			<th>Precio</th>
			<td>$200</td>
			<td>$420</td>
			<td>$590</td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td>Resident Evil</td>
			<td>Call of Duty</td>
			<td>Minecraft java</td>
		</tr>
		<tr>
			<th>Disponibilidad</th>
			<td colspan="2">Disponibles</td>
			<td>Agotado</td>
		</tr>
		<tr>
			<th>Descunto</th>
			<td colspan="3">50% de descueto</td>
		</tr>

	</table>